.TaskItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  height: auto;
  background-color: var(--color-background-blue);
  border-radius: 5px;
  width: 100%;
  transition: all 0.2s;
}

.TaskItem h3 {
  color: var(--rct-c-white-soft);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.TaskItem .form-container {
  margin-top: 2rem;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
}

.button-container button {
  width: 90%;
  height: 30%;
  margin: 0.5rem;
  background-color: var(--rct-c-blue-dark);
}

.info {
  width: 30%;
  text-align: left;
  overflow-wrap: break-word;
  color: var(--rct-c-white-mute);
}

.date {
  width: 10%;
  text-align: center;
  overflow-wrap: break-word;
  color: var(--rct-c-white-mute);
}

.arrow {
  transform: rotateZ(0deg);
  transition: transform 0.2s ease-in-out;
}

.arrow.show {
  transform: rotateZ(90deg);
}

.form-container input {
  background-color: var(--color-background-blue);
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--rct-c-blue-dark);
  border-radius: 50%;
  border: 2px solid var(--rct-c-blue);
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: var(--rct-c-blue);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}
