:root {
  --ng-c-white: #ffffff;
  --ng-c-white-soft: #f8f8f8;
  --ng-c-white-mute: #979797;

  --ng-c-black: #181818;
  --ng-c-black-soft: #222222;
  --ng-c-black-mute: #282828;

  --ng-c-red: #dd0031;
  --ng-c-red-dark: #81021d;
  --ng-c-red-dark-bg: #63152641;

  --ng-c-divider-light-1: rgba(182, 182, 182, 0.29);
  --ng-c-divider-light-2: rgba(199, 199, 199, 0.329);
  --ng-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --ng-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --color-background: var(--ng-c-black-soft);
  --color-background-soft: var(--ng-c-white-soft);
  --color-background-mute: var(--ng-c-white-mute);
  --color-background-red: var(--ng-c-red-dark);

  --color-border: var(--ng-c-divider-light-2);
  --color-border-hover: var(--ng-c-divider-light-1);

  --color-heading: var(--ng-c-red);
  --color-text: var(--ng-c-white-soft);
  --color-link: var(--ng-c-red);

  --section-gap: 160px;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.2s;
  line-height: 1.6;
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
